<header ng-class="{ 'no-breadcrumb': location.path() == '/' }">

	<div ng-controller="UserCtrl">
		<div ng-show="user.is_logged" class="pull-right top10 right20">
			<span class="label label-xs">
				Welcome, [[user.username]]!
			</span>
			<div class="btn-group left10">
				<a ng-href="/account/dashboard" class="btn btn-xs btn-default">
					<i class="fa fa-tachometer right05"></i>
					Dashboard
				</a>
				<a ng-click="logout()" class="btn btn-xs btn-default">
					<i class="fa fa-sign-out right05"></i>
					Sign out
				</a>
			</div>
		</div>
	</div>

	<h1>
		<a href="#/">
			Detective<i>.io</i>
		</a>
	</h1>

</header>

<ul class="breadcrumb" ng-controller="BreadcrumbCtrl" ng-hide="isHome()">
	<li>
		<a class='fa fa-home' ng-href="/">
			<span class="sr-only">Home</span>
		</a>
	</li>
	<li ng-repeat="p in breadcrumbs" ng-class="{active: $last}" ng-show="p.path != '/'">
		<a ng-if="p.path && !$last" ng-href="[[p.path]]">
			[[p.name]]
		</a>
		<span ng-if="!p.path || $last">
			[[Page.title()]]
		</span>
	</li>
</ul>